<div class="update-container">
  <h1>Update Account</h1>
  <% if (locals.errors) { %>
    <ul class="error">
      <% errors.forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>
  <% if (locals.message) { %>
    <p class="message"><%= message %></p>
  <% } %>

  <!-- Account Update Form -->
  <form action="/account/update" method="POST" novalidate>
    <input type="hidden" name="accountId" value="<%= locals.user ? user.accountId : '' %>">
    <div>
      <label for="firstName">First Name *</label>
      <input type="text" id="firstName" name="firstName" value="<%= locals.firstName || '' %>" required>
    </div>
    <div>
      <label for="lastName">Last Name *</label>
      <input type="text" id="lastName" name="lastName" value="<%= locals.lastName || '' %>" required>
    </div>
    <div>
      <label for="email">Email *</label>
      <input type="email" id="email" name="email" value="<%= locals.email || '' %>" required>
    </div>
    <button type="submit">Update Account</button>
  </form>

  <!-- Change Password Form -->
  <form action="/account/update-password" method="POST" novalidate>
    <input type="hidden" name="accountId" value="<%= locals.user ? user.accountId : '' %>">
    <div>
      <label for="password">New Password *</label>
      <input type="password" id="password" name="password" required 
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
             title="Password must be at least 8 characters with uppercase, lowercase, and a number">
      <p>Enter a new password (min 8 chars, 1 uppercase, 1 lowercase, 1 number) to change it.</p>
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>